<html>
    <head>
        <%- include("../header.ejs", {title: title}); %>
    </head>
    <body class="container-fluid">
        <div class="alert alert-secondary">   
            <%- include("menu.ejs") %>
        </div>
        <div>
            <% function numberWithCommas(x) { %>
            <% return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
            <% } %>
            <table class="table table-striped table-bordered">
                <% data.forEach(function(e){ %>
                        <tr onclick="window.location.href='/view/transactions/accuracy/<%= e.id %>'">
                            <td style="width: 10%;"><%= e.bank %></td>
                            <td style="width: 5%;"><%= e.code %></td>
                            <td style="width: 50%;"><%= e.content %></td>
                            <td style="width: 10%;" class="text-right"><%= numberWithCommas(e.amount) %></td>
                            <% if(e.accuracy == true){ %>
                                <td style="width: 10%;"><span class="badge badge-success">Đã xác thực</span></td>
                            <% } else { %>
                                <td style="width: 10%;"><span class="badge badge-danger">Chưa xác thực</span></td>
                            <% } %>
                            <td style="width: 10%;"><%= (new Date(e.date)).toISOString().split("T")[0] %></td>
                        </tr>
                <% }); %>
            </table>
        </div>
    </body>
</html>