<html>
    <head>
        <%- include("../header.ejs", {title: title}); %>
    </head>
    <body class="container-fluid">
        <div class="alert alert-secondary">   
            <%- include("menu.ejs") %>
        </div>
        <div>
            <table class="table border">
                <% data.forEach(function(e){ %>
                    <tr>
                        <td><%= e.content %></td>
                        <td><%= e.amount %></td>
                        <% if(e.protected==true){ %>
                            <td><a href="/view/transactions/accuracy/code/<%= e.codeCheck %>">Xem phiếu</a></td>                        
                        <% } else { %>
                            <td><a href="/view/transactions/accuracy/code/<%= e.codeCheck %>">Xem phiếu</a><button class="btn btn-danger" onclick="deleteNote('<%= e.id %>')">x</button></td>
                        <% } %>
                    </tr>
                <% }); %>
            </table>
        </div>
        <script>
            function deleteNote(id){
                console.log("Delete:", id);
                $.ajax({
                    url : '/api/notes/' + id,
                    method : 'delete',
                }).done(function(e){
                    // console.log()
                    location.reload();
                })
            }
        </script>
    </body>
</html>